---   
 <img align="left" width="75" height="75"  src="https://upload.wikimedia.org/wikipedia/en/c/c8/University_of_the_Punjab_logo.png"> 

<h1 align="center">Department of Data Science</h1>
<h1 align="center">Course: Tools and Techniques for Data Science</h1>

---
<h3><div align="right">Instructor: Muhammad Arif Butt, Ph.D.</div></h3>

<h1 align="center">Pandas</h1>

## _15-Iterating Dataframes.ipynb_

## Learning agenda of this notebook

1. How to iterate a dataframe

## 1. Create a Dataframe

In [1]:
import pandas as pd
import numpy as np

# Let us create a dataframe and name the row and column labels of our choice
arr2 = np.random.randint(10,100, size= (6,5))
df = pd.DataFrame(data=arr2, columns=['Col1', 'Col2', 'Col3', 'Col4', 'Col5'])
df

   Col1  Col2  Col3  Col4  Col5
0    78    73    82    54    23
1    55    67    65    54    93
2    69    12    60    89    99
3    69    54    33    64    46
4    23    85    30    45    32
5    32    84    20    78    34

## 2. Iterate using index and subscript operator

In [2]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [2]:
# Iterate over all the rows of a dataframe using index and printing using [] operator
for index in df.index:
    print(df['Col2'][index])

73
67
12
54
85
84

In [4]:
for index in df.index:
    print(df['Col1'][index], df['Col4'][index])

54 48
91 91
77 98
93 94
72 34
84 86

## 3. Iterate using index and loc

In [5]:
# Iterate over all the rows of a dataframe using index and printing using loc method
for index in range(len(df)):
    print(df.loc[index, 'Col1'], df.loc[index, 'Col4'])

54 48
91 91
77 98
93 94
72 34
84 86

## 4. Iterate using index and iloc

In [6]:
# Iterate over all the rows of a dataframe using index and printing using iloc
for index in range(len(df)):
    print(df.iloc[index, 0], df.iloc[index, 3])   # instead of column name give col index starting from zero

54 48
91 91
77 98
93 94
72 34
84 86

## 5. Iterate using `df.iterrows()` Method
Iterate over DataFrame rows as (index, Series) pairs

In [17]:
df.iterrows()

In [18]:
# Iterate over all the rows of a dataframe using iterrows() function
for index, ser in df.iterrows(): 
            print(ser['Col1'], ser['Col2'], ser['Col3'], ser['Col4'], ser['Col5'])

76 50 69 72 52
37 21 92 91 46
30 12 66 10 82
49 91 84 18 46
35 28 80 21 74
36 86 57 18 18

## 6. Iterate using `df.itertuples()` Method

In [8]:
# Iterate over all the rows of a dataframe using df.itertuples() and builtin getattr() function
for row in df.itertuples():
    print(getattr(row, 'Col1'), getattr(row,'Col4'))

54 48
91 91
77 98
93 94
72 34
84 86

## 7. Iterate using `df.apply()` Method

In [22]:
df.apply(lambda row: row['Col1'], axis=1)

0    76
1    37
2    30
3    49
4    35
5    36
dtype: int64

In [10]:
#EX2: Iterating through the first two rows
for index, row in df.iterrows(): 
        while index < 2:
            print("index = ",index)
            print(row, "\n")
            break

index =  0
Col1    54
Col2    69
Col3    76
Col4    48
Col5    83
Name: 0, dtype: int64

index =  1
Col1    91
Col2    58
Col3    89
Col4    91
Col5    10
Name: 1, dtype: int64

In [11]:
#EX3: Print values of Col2 only
for index, row in df.iterrows():
        print(df['Col2'].iloc[index])

69
58
96
37
96
18

## 8. Change the Values inside a Column Conditionally using iterrrows() Function

In [12]:
#EX4: Change the values in Col2 conditionally
df
for index, row in df.iterrows():   
    val = row['Col2']
    if val < 50:
        df['Col2'].iloc[index] = 0 
        #df.at[index,'Col2'] = 0 
    else:
        df['Col2'].iloc[index] = 1
        #df.at[index,'Col2'] = 1
df

   Col1  Col2  Col3  Col4  Col5
0    54     1    76    48    83
1    91     1    89    91    10
2    77     1    60    98    71
3    93     0    57    94    48
4    72     1    22    34    52
5    84     0    54    86    48

## 9. Change the Values inside a Column Conditionally using apply() Function

In [13]:
#EX5: Change the values in Col4 conditionally
# Another way to perform the above function is using lambda function in apply method
# apply() method allows the users to pass a function and apply it on every single value of that specific column
df['Col5'] = df['Col5'].apply(lambda x : 0 if x < 60 else 1)

df

   Col1  Col2  Col3  Col4  Col5
0    54     1    76    48     1
1    91     1    89    91     0
2    77     1    60    98     1
3    93     0    57    94     0
4    72     1    22    34     0
5    84     0    54    86     0